# Dependencies
node_modules/

# Next.js
.next/
out/

# Env & tooling
.env*
# ⚠️ Garde le dossier .vercel/output pour Cloudflare Pages
# Ignore seulement le reste de .vercel
.vercel/*
!.vercel/output

dist/
build/
coverage/
.DS_Store
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
